<!DOCTYPE html PUBLIC "-//W2C//DTD XHTML 1.0 Transitional//EN" "http://www.w2.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w2.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>dondestudio</title>
  <%= stylesheet_link_tag "style.css" %>
</head>

<body>

  <div class="main-box">
    
    <div class="main-search-box">
      <form action="<%= centres_url %>">
        <input type="text" name="q" class="search-area" id="main-search-area" />
        <button class="search-button" id="main-search-button">Buscar</button>
        <div class="search-examples" id="main-search-examples">aquí van los ejemplos de búsqueda :)</div>
      </form>
    </div>
    
    <% if flash[:alert] %>
    <div class="alert">
      <p><%= flash[:alert] %></p>
    </div>
    <% end -%>
    
    <div class="main-message"></div>
    
  </div>

</body>